<html>
    <head>
        <script src="../../../config/cdnDaisy.js"></script>
    </head>

    <body>
        <div id="app"></div>

        <!-- views -->
        <script src="view.dashboard.js"></script>
        <script src="view.history.js"></script>
        <script src="view.route.js"></script>

        <!-- route -->
        <script src="../../routes/student.route.js"></script>

        <!-- navigation dock -->
        <script src="../../components/student/student.dock.js"></script>

        <!-- hidden in mobile -->
        <div class="hidden lg:flex justify-center items-center min-h-screen">
            <div class="text-4xl">Not compatible in desktop yet</div>
        </div>
    </body>
</html>